---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import WavingHand from "../assets/waving-hand.png";
---

<Layout title="Welcome">
  <main class="flex flex-col gap-8">
    <div class="flex items-center gap-2">
      <div class="rounded-full size-9 bg-neutral-700"></div>

      <div class="flex flex-col gap-1">
        <strong class="font-mono font-bold text-lg leading-none"
          >devmatheus</strong
        >
        <span class="text-xs text-neutral-300 leading-none"
          >Full-Stack Developer</span
        >
      </div>
    </div>

    <section class="grid grid-cols-2 grid-rows-2 gap-4 flex-1">
      <div class="row-span-2 rounded-2xl bg-neutral-800 p-4">
        <div class="flex items-center gap-2 animate-fadeIn">
          <h1 class="font-heading text-5xl leading-none">Hello!</h1>
          <img src={WavingHand.src} alt="waving hand" class="size-14" />
        </div>
      </div>
      <div class="rounded-2xl bg-neutral-800"></div>
      <div class="rounded-2xl bg-neutral-800"></div>
    </section>
  </main>
</Layout>
