---
import "@fontsource-variable/inter";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/poppins/600.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - devmatheus</title>
  </head>
  <body>
    <aside class="rounded-full bg-neutral-800 h-[500px]"></aside>
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;

  @layer base {
    * {
      @apply border-neutral-500;
    }

    body {
      @apply container h-screen bg-neutral-900 text-neutral-100 grid grid-cols-[64px_1fr] place-content-center gap-x-8;
    }
  }
</style>
